<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'homepage' %}">MP3 Songs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pt-1">
          <a class="nav-link {% if request.resolver_match.url_name == 'homepage' %} active {% endif %}"
             aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item pt-1">
          <a class="nav-link" href="{% url 'playlist' %}">Playlist</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex w-auto me-auto" method="GET"
            action="{% url 'search' %}">
        <input class="form-control w-100 rounded-pill" type="search"
               placeholder="Search" name="query" aria-label="Search" />
        <button class="btn btn-outline-success rounded-pill"
                type="submit">Search</button>
      </form>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if request.user.is_authenticated %}
          {{request.user.username|capfirst}}
          {% else %}
          Account
          {% endif %}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user.is_authenticated %}
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
          <li><a class="dropdown-item" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
