{% extends "includes/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock  %}
{% block styles %}
<link rel="stylesheet" href="{% static 'custom/music.css' %}">
{% endblock  %}
{% block content %}
<div class="pb-5">
    <div class="row">
        {% for mus in music %}
        <div class="col-sm-12 col-md-6 col-lg-6">
            {% include "music/snippet/music.html" with music=mus %}
        </div>
        {% endfor %}
    </div>
    {% include 'snippet/pagination.html' %}
</div>
{% endblock  %}
